//colors
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-white: #fff;
$color-grey: #777;
$color-grey-2:#eee;
$color-grey-3:#999;
$color-black: #000;
$color-light-grey: #f7f7f7;

//grid
$grid-width: 114rem;
$grid-gutter-vertical: 6rem;
$grid-gutter-hor: 6rem;
$grid-bg-color: #eee;


//font-size;
$default-font-size:1.6rem;